# Copyright (c) Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause

**/Binaries/Win64/**

# Ignore intermediate folders
Intermediate/
obj/
.vs
.vscode
.idea/

